# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [255]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/Mailysjaffret/lab-dw-data-cleaning-and-formatting/main/insurance_cleaned_dataset.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)
df3 = pd.read_csv(url3)

In [257]:
df2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [239]:
df3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [240]:
df2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [241]:
df3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [242]:
df2.columns = df2.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('st', 'state')
df2.columns = df2.columns.str.replace('custateomer', 'customer').str.replace('custateomer_lifetime_value', 'customer_lifetime_value')
df2.columns = df2.columns.str.replace('vehicle_class', 'vehicule_class')

df2.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicule_class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [243]:
df3.columns = df3.columns.str.strip().str.lower().str.replace(' ', '_')
df3.columns = df3.columns.str.replace('custateomer', 'customer').str.replace('custateomer_lifetime_value', 'customer_lifetime_value')
df3.columns = df3.columns.str.replace('vehicle_class', 'vehicule_class')

df3.head()

,customer,state,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicule_class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [244]:
df2['gender'] = df2['gender'].str.strip().str.lower().replace({
    'female': 'F',
    'Male': 'M',
    'male': 'M',
    'f': 'F',
    'm': 'M'
})

df2['gender'].unique()

array(['F', 'M', nan], dtype=object)

In [245]:
df3['gender'].unique() #values OK, no cleaning

array(['M', 'F'], dtype=object)

In [246]:
df2['state'] = df2['state'].replace({'AZ': 'Arizona'})
df2['state'].unique()

array(['Arizona', 'California', 'Oregon', 'Nevada', 'Washington'],
      dtype=object)

In [247]:
df3['state'].unique() #values OK, no cleaning

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon'],
      dtype=object)

In [248]:
df2['education'] = df2['education'].str.strip().replace({'Bachelors': 'Bachelor'})
df2['education'].unique()

array(['Bachelor', 'Master', 'College', 'Doctor', 'High School or Below'],
      dtype=object)

In [249]:
df3['education'].unique()

array(['High School or Below', 'Master', 'Bachelor', 'College', 'Doctor'],
      dtype=object)

In [250]:
df2['customer_lifetime_value'] = (
    df2['customer_lifetime_value']
    .astype(str)
    .str.replace('%', '')
    .astype(float)
)

df3['customer_lifetime_value'] = (
    df3['customer_lifetime_value']
    .astype(str)
    .str.replace('%', '')
    .astype(float)
)

In [251]:
df3['customer_lifetime_value'].unique()

array([3479.137523, 2502.637401, 3265.156348, ..., 8163.890428,
       7524.442436, 2611.836866])

In [261]:
for col in df1.columns:
    if col in df2.columns and df1[col].dtype != df2[col].dtype:
        df2[col] = df2[col].astype(df1[col].dtype)
    if col in df3.columns and df1[col].dtype != df3[col].dtype:
        df3[col] = df3[col].astype(df1[col].dtype)

- We changed some data types so that they are all identical between the 3 dfs
- No null values to delete in df2 and df3
- No values duplicated to delete in df2 and df3

In [270]:
final_df_insurance = pd.concat([df1, df2, df3], ignore_index=True)
final_df_insurance.shape

(9138, 24)

In [268]:
final_df_insurance.to_csv('cleaned_combined_dataset.csv', index=False)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [272]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df4 = pd.read_csv(url)

df4.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [274]:
pivot_table = df4.pivot_table(values='total_claim_amount', index='sales_channel', aggfunc='sum')
pivot_table = pivot_table.round(2)
print(pivot_table)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

In [276]:
max_revenue_channel = pivot_table['total_claim_amount'].idxmax()
max_revenue_value = pivot_table['total_claim_amount'].max()

print(f"The sales channel with the highest total revenue is '{max_revenue_channel}' with a total revenue of {max_revenue_value:.2f}.")

The sales channel with the highest total revenue is 'Agent' with a total revenue of 1810226.82.

In [278]:
pivot_table = df.pivot_table(values='customer_lifetime_value', index='gender', columns='education', aggfunc='mean')
pivot_table = pivot_table.round(2)


pivot_table

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           8033.17  7671.83  7070.90               8746.75  8535.86
M           7734.64  8057.66  7849.44               7909.15  8113.34

Education and gender influence lifetime value differently: For women, lower levels of education appear to be associated with higher lifetime value, while for men, Master's and College levels appear to be the most advantageous.
Targeted marketing strategies: This analysis suggests that marketing strategies could be adjusted according to gender and education level to maximise lifetime value.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [280]:
df4.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [324]:
df4['effective_to_date'].nunique()

59

In [320]:
df4['effective_to_date'] = pd.to_datetime(df4['effective_to_date'])

# Extract the month from the date
df4['months'] = df4['effective_to_date'].dt.strftime('%Y-%m')


complaints_summary = df4.groupby(['policy_type', 'months']).size().reset_index(name='number_of_complaints')
print(complaints_summary)

      policy_type   months  number_of_complaints
0  Corporate Auto  2011-01                  1252
1  Corporate Auto  2011-02                  1089
2   Personal Auto  2011-01                  4329
3   Personal Auto  2011-02                  3799
4    Special Auto  2011-01                   237
5    Special Auto  2011-02                   204